body {
  margin: 0;
  padding: 0;
  background: #020024;
  font-family: sans-serif;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  margin: 0 100px;
  font-size: 20px;
  padding: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #ffffff;
  transition: 0.5s;
}

ul li:hover {
  cursor: pointer;
  color: #020024;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 0 75px rgba(255, 255, 255, 0.05),
    0 0 0 60px rgba(255, 255, 255, 0.05), 0 0 0 45px rgba(255, 255, 255, 0.05),
    0 0 0 30px rgba(255, 255, 255, 0.05), 0 0 0 15px rgba(255, 255, 255, 0.05);
}
